@model NLDT_lession09_Entity_Framework___Database_First.Models.NldtKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NldtKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NldttenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NldttenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NldtTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NldtTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NldtMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
